.msg {
    padding: 10px;
    margin-bottom: 32px;
    border-radius: 5px;
}

#home {
    position: absolute;
    left: 20px;
    top: 20px;
}

#home-result {
    padding: 20px;
    border-radius: 7px;
    position: fixed;
    right: 35px;
}

#crypto-evolution {
    padding: 10px 0;
    border-radius: 5px;
}