{% extends 'base.html.twig' %}

{% block title %} {{ entity }} not found {% endblock %}

{% block body %}

    <h2 class="text-center mt-4">{{ entity }} not found </h2>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <a href="{{ path('home') }}" class="btn btn-primary btn-block">Home</a>
        </div>
    </div>

{% endblock %}